.vscode/
build/vcd/
build/
__pycache__/

*.gtkw
*.mem
*.elf
*.out
*.vcd
*.map
*.blif
*.log
*_generated.v

examples/**/*.sh
examples/**/*.pcf
examples/**/*.asc
examples/**/*.bin
examples/**/*.json
.DS_Store
